<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>pamietniki.</title>

</head>
<body>

<div>
    <a href="/register">strona główna</a>
    <a href="/dashboard">daszbord</a>
</div>
<script src="/theme-controller.js"></script>
</body>
</html>
