<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Wprowadź nowy dzień - pamiętniki.</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--    styles-->
    <link rel="stylesheet" href="/style.css">
    <script src="/style.js"></script>


    <!--    fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;700&display=swap" rel="stylesheet"></head>
<body onload="startTime()">


<header>
    <div id="icon_cont">
        <button id="contrast-switch" onclick="contrastSwitch();">
            <svg xmlns="http://www.w3.org/2000/svg" width="30.849" height="30.849" viewBox="0 0 30.849 30.849" alt="ikona kontrast" class="icons">
                <path class="a" d="M17.995,1.928A15.424,15.424,0,1,0,33.419,17.352,15.424,15.424,0,0,0,17.995,1.928ZM6.427,17.352A11.568,11.568,0,0,1,17.995,5.784V28.921A11.568,11.568,0,0,1,6.427,17.352Z" transform="translate(-2.571 -1.928)"/>
            </svg>
        </button>
        <button id="theme-switch" onclick="themeChange();">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" alt="ikona kolor" class="icons">
                <path class="a" d="M33.1,26.68a3.648,3.648,0,0,0-1.922-.7,2.86,2.86,0,0,1-1.766-.781,2.166,2.166,0,0,1,0-3.422l2.367-2.1a7.607,7.607,0,0,0,0-11.656A15.019,15.019,0,0,0,21.8,4.5,18.885,18.885,0,0,0,9.391,9.2a13.689,13.689,0,0,0,0,20.977A18.289,18.289,0,0,0,21.335,34.5h.133a17.58,17.58,0,0,0,11.624-4.094A2.637,2.637,0,0,0,33.1,26.68ZM8.875,16.375a2.5,2.5,0,1,1,2.5,2.5A2.5,2.5,0,0,1,8.875,16.375ZM12,26.219a2.5,2.5,0,1,1,2.5-2.5A2.5,2.5,0,0,1,12,26.219Zm5-12.578a2.5,2.5,0,1,1,2.5-2.5A2.5,2.5,0,0,1,17,13.641ZM22.624,30.75A3.75,3.75,0,1,1,26.374,27,3.751,3.751,0,0,1,22.624,30.75ZM24.5,14.5A2.5,2.5,0,1,1,27,12,2.5,2.5,0,0,1,24.5,14.5Z" transform="translate(-4.498 -4.5)"/>
            </svg>
        </button>
        <div id="clock" class="icons"></div>
    </div>

    <div id="logo_cont">
        <img src="/svg/logo_pamietnik/logo_pamietnik_dark_gray.svg" alt="logo_pamietnik" id="logo"/>
    </div>
</header>

<nav>
    <button class="tabchange" type="button" name="Meal" onclick="changeTab('Meal', this);" id="defaultOpen">Pożywienie</button>
    <button class="tabchange" type="button" name="Workout" onclick="changeTab('Workout', this);">Trening</button>
    <button class="tabchange" type="button" name="Weight" onclick="changeTab('Weight', this);">Waga</button>
    <button class="tabchange" type="button" name="Day_grade" onclick="changeTab('Day_grade', this);">Ocena dnia</button>
    <button class="tabchange" type="button" onclick="window.location.href='/dashboard'"><svg xmlns="http://www.w3.org/2000/svg" width="50.912" height="50.912" viewBox="0 0 50.912 50.912"><defs></defs><path class="a" d="M13.5,0V13.5H0v9H13.5V36h9V22.5H36v-9H22.5V0Z" transform="translate(0 25.456) rotate(-45)"/></svg></button>
</nav>
<main>
<form action="/dayadd" method="POST">
<div id="Meal" class="tabcontent">
    <div class="form_elements">
        <label for="breakfast">Śniadanie: </label>
        <input type="text" id="breakfast" name="breakfast">
        <label class="l-right"> kalorii</label>
    </div>
    <button type="button" style="float:right; margin-top: -35px;" onclick="underLine(2);"> <svg xmlns="http://www.w3.org/2000/svg" width="42.5" height="68.826" viewBox="0 0 42.5 68.826"><defs></defs><path class="a" d="M20.972,9l-8.087,8.087L39.154,43.413,12.885,69.739l8.087,8.087L55.385,43.413Z" transform="translate(-12.885 -9)"/></svg> </button>
    <br>
    
    <div class="form_elements">
        <label for="dinner">Obiad: </label>
        <input type="text" id="dinner" name="dinner">
        <label class="l-right"> kalorii</label>
    </div>
    <br>

    <div class="form_elements">
        <label for="suppe">Kolacja: </label>
        <input type="text" id="supper" name="supper">
        <label class="l-right"> kalorii</label>
    </div>
    <br>

    <div class="form_elements">
    <label for="other_meal">Innne posiłki: </label>
    <input type="text" id="other_meal" name="other_meal">
    <label class="l-right"> kalorii</label>
    </div>
    
</div>

<div id="Workout" class="tabcontent">
    <button type="button" style="float: left;" onclick="underLine(1);"> <svg xmlns="http://www.w3.org/2000/svg" width="42.5" height="68.826" viewBox="0 0 42.5 68.826"><defs></defs><path class="a" d="M20.972,9l-8.087,8.087L39.154,43.413,12.885,69.739l8.087,8.087L55.385,43.413Z" transform="translate(55.385 77.826) rotate(180)"/></svg> </button>
    <p>Czy odbyłeś/aś dzisiaj trening?</p>
    <input class="ngh_ch" type="checkbox" name="workout" id="workout_ch" value="true">
    <button type="button" style="float: right; margin-top: -80px;" onclick="underLine(3);"> <svg xmlns="http://www.w3.org/2000/svg" width="42.5" height="68.826" viewBox="0 0 42.5 68.826"><defs></defs><path class="a" d="M20.972,9l-8.087,8.087L39.154,43.413,12.885,69.739l8.087,8.087L55.385,43.413Z" transform="translate(-12.885 -9)"/></svg> </button>
</div>

<div id="Weight" class="tabcontent">
    <button type="button" style="float: left;" onclick="underLine(2);"> <svg xmlns="http://www.w3.org/2000/svg" width="42.5" height="68.826" viewBox="0 0 42.5 68.826"><defs></defs><path class="a" d="M20.972,9l-8.087,8.087L39.154,43.413,12.885,69.739l8.087,8.087L55.385,43.413Z" transform="translate(55.385 77.826) rotate(180)"/></svg> </button>
    <div>
    <label for="weight">Waga: </label>
    <input type="text" name="weight" id="weight">
    </div>
    <button type="button" style="float: right;  margin-top: -35px;" onclick="underLine(4);"> <svg xmlns="http://www.w3.org/2000/svg" width="42.5" height="68.826" viewBox="0 0 42.5 68.826"><defs></defs><path class="a" d="M20.972,9l-8.087,8.087L39.154,43.413,12.885,69.739l8.087,8.087L55.385,43.413Z" transform="translate(-12.885 -9)"/></svg> </button>
    <br>
    <div>
    <label for="height">Wzrost: </label>
    <input type="text" name="height" id="height">
    </div>
    
</div>

<div id="Day_grade" class="tabcontent">
    <button type="button" style="float: left;" onclick="underLine(3);"> <svg xmlns="http://www.w3.org/2000/svg" width="42.5" height="68.826" viewBox="0 0 42.5 68.826"><defs></defs><path class="a" d="M20.972,9l-8.087,8.087L39.154,43.413,12.885,69.739l8.087,8.087L55.385,43.413Z" transform="translate(55.385 77.826) rotate(180)"/></svg> </button>
    <p>Jak oceniasz swój dzień?</p>
    <select name="day_grade" id="Day_grade">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select> <br>
    <div><button id="send" type="submit">Wyślij</button></div>
</div>
</form>
</main>
<script src="/theme-controller.js"></script>
</body>
</html>
