<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Document</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    styles-->
    <link rel="stylesheet" href="/style.css">
    <script src="/style.js"></script>


    <!--    fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;700&display=swap" rel="stylesheet"></head>
<body onload="startTime()">


    <header>
        <div id="icon_cont">
        <img src="/svg/icons/contrast_dark_gray.svg" alt="ikona kontrast" id="icon_contrast" class="icons" onclick="changeContrast()">
        <img src="/svg/icons/color_darkGray.svg" alt="ikona kolor" id="icon_color" class="icons">
        <div id="clock" class="icons"></div>
        </div>

        <div id="logo_cont"><img src="/svg/logo_pamietnik/logo_pamietnik_dark_gray.svg" alt="logo_pamietnik" id="logo"/></div>
    </header>
    <div>
<!--    <input name="email" type="text"/>-->
    </div>


</body>
</html>
