:root {
    --colorMain:#808080;
    --colorBackground: #DEDEDE;
    --size: 400;
    /*--svgColour: #808080;*/
    /*inne kolory:*/

    /*motyw ciemny szary:*/
    /*colorMain: #DEDEDE ;*/
    /*Color Background: #808080;*/

    /*motyw jasny różowy:*/
    /*colorMain: #AD727F;*/
    /*color Background: #FABEC8;*/

    /*motyw ciemny różowy:*/
    /*colorMain: #FABEC8;*/
    /*color Background: #AD727F;*/

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--colorBackground);
}

#logo {
    max-width: 350px;
    height: auto;
    text-align: center;
    margin-top: -4%;
}

#logo_cont{
    text-align: center;
}

#clock {
    display: inline;
    margin:0;
}

.icons {
    padding: 0.5% 5% 0 0;
    display: inline;
    margin:0;
}
svg{
    fill: var(--colorMain);
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
input {
    background: none;
    color: inherit;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: var(--colorMain);
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}
#icon_cont {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

header {
    color: var(--colorMain);
}
#clock {
    font-family: 'Piazzolla', serif;
    font-size: 2.4em;
    margin-top: -4%;
}

#chart {
    background-color: var(--colorMain);
    width: 697px;
    height: 255px;
    /*margin-left: 40px;*/

}
form {
    color: var(--colorMain);
    font-family: 'Piazzolla', serif;
    font-size: 1.6em;
    /*display: inline;*/
    /*text-align: center;*/

}
label, input {
    margin-top: 10px;

}
form div{
    display:inline-block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}
form div label{
    float: left;
}
#register_box {
    text-align: center;
}

a {
    color: var(--colorMain);
    font-family: 'Impact';
    text-decoration: none;
    font-size: 1.6em;
    margin-left: 10px;

}

.input_buttons {
    color: var(--colorMain);
    text-decoration: none;
    display: flex;
    font-size: 32px;
    /*padding: auto;*/
    /*margin: auto;*/
    cursor: pointer;
    float: right;
    margin-top: 10px;
    width: 480px;
}
.input_buttons button {
    border: 2px solid var(--colorMain);
    margin: 5px;
}

.tabchange {
    color: var(--colorMain);
    float: left;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 0;
    width: 16%;
    background: none;
    padding: 0;
    font: inherit;
    text-align: center;
    margin-left: 4%;
    font-family: 'Impact';
}

.tabcontent {
    color: var(--colorMain);
    display: none;
    text-align: center;
    padding: 100px 20px;
    height: 100%;
}

nav{
    font-size: 32px;
}
main div{
    font-size: 32px ;
}

#Day_grade select {
   background-color: var(--colorBackground);
    color: var(--colorMain) ;
    font-size: 30px;
    border: none;
    font-family: 'Piazzolla', serif;
}

div form select{
    background-color: var(--colorBackground);
    color: var(--colorMain) ;
    font-size: 26px;
    border: none;
    font-family: 'Piazzolla', serif;
    margin-top: 12px;
}

.messages {
    color: var(--colorMain);
    font: inherit;
    font-size: 20px;
    /*padding: auto;*/
    margin: auto;
}
#welcomeMessage {
    text-align: center;
    font-family: Impact;
    font-size: 30px;
}

.messages {
    font-family: Impact;
}

#inf_box {
    height: 612px;
    width: 612px;
    background-color: var(--colorMain);
    /*float: right;*/
    margin: 0 20px 0 20px;
    color: var(--colorBackground);
    font-family: Impact;
    text-align: center;
    font-size: 40px;
}

#calories {
    width: 697px;
    height: 352px;
    background-color: var(--colorMain);
    /*margin-left: 40px;*/
    margin-top: 5px;
}
#dashboardContainer {
    display: flex;
    justify-content: center;
}
#food {
    display: flex;
    flex-flow: column;
}

header a{
    float: right;
    margin-right: 28px;

}

.l-right {
    float: right;
} 

.ndf_ch input{
    position: absolute;
    cursor: pointer;
    height: 50;
    width: 50;
}

.tabcontent div button {
    margin-top: 50%;
    margin-left: 20px;
    font-size: 50px;
    border: 2px solid var(--colorMain);
}

.tabcontent div button:hover {
    background-color: var(--colorMain);
    color: var(--colorBackground);
}

/*
#kalendarz {
    height: 407px;
    width: 480px;
    background-color: var(--colorMain);
}
*/


#right_side {
    width: 465px;
    height: var(--size);
    background-color: var(--colorMain);
    display: flex;
    flex-flow: column;
}

/* Kalendarz */
#calendar {
    width: 465px;
    height: var(--size);
    padding: 5px;
    font-family: impact;
    display: block;
}

#calendar-buttons {
    font-size: 20px;
    height:30px;
    display: flex;
    justify-content: space-between;
}

#calendar #prev,
#calendar #next {
    position: relative;
    z-index: 1;
    cursor:pointer;
    width: 30px;
    background-color: transparent;
    border:0;
    color: var(--colorBackground);
}

#calendar #prev:hover,
#calendar #next:hover {
    background-color: var(--colorBackground);
    color: var(--colorMain);
}

#calendar #calendar-month-year {
    font-size:22px;
    color: var(--colorBackground);
    padding: 0 40px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    text-align: center;
    box-sizing: border-box;
}

#calendar #calendar-header {
    height:20px;
    position: relative;
}

#calendar #calendar-table {
    position: relative;
    padding-top:15px;
    font-size:18px;
    color: var(--colorMain);
    width: 100%;
}

.cell {
    text-align: center;
    width: 65px;
    height: 65px;
}

.days-records .cell{
    padding-top: 15px;
    background-color: var(--colorBackground);
}

.days-records .cell, .days-records .cell_highlighted {
    text-align: left;
    padding: 4px;
    padding-left: 4px;
    border: 1px solid var(--colorMain);
    font-size:24px;
}

.cell_highlighted {
    padding-top: 15px;
    text-align: center;
    width: 65px;
    height: 65px;
}

.days-records {
    display: flex;
    justify-content: space-evenly;
    margin-top: -22px;
}

.days-records .cell:hover{
    color: var(--colorBackground);
    background-color: var(--colorMain);
    cursor: pointer;
}

.cell_highlighted {
    color: white;
    background-color: red;
}

.cell_highlighted:hover {
    background-color: chocolate;
    cursor: pointer;
}

#days-names-span {
    font-weight: normal;
    height: 40px;
    font-size:24px;
    color:var(--colorBackground);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -10px;
    
}